http:
  middlewares:
    redirect-https:
      redirectScheme:
        scheme: https
        permanent: true
    secure-headers:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

# routers rendered from environment variables
routers:
  # HTTP to HTTPS redirect for API domain
  nexudo-api-http:
    rule: "Host(`${API_DOMAIN}`)"
    entrypoints:
      - web
    service: noop@internal
    middlewares:
      - redirect-https
    priority: 100

  # HTTP to HTTPS redirect for WEB domain
  nexudo-web-http:
    rule: "Host(`${WEB_DOMAIN}`)"
    entrypoints:
      - web
    service: noop@internal
    middlewares:
      - redirect-https
    priority: 100

  # HTTPS routers
  nexudo-api:
    rule: "Host(`${API_DOMAIN}`)"
    entrypoints:
      - websecure
    service: nexudo-api
    tls:
      certResolver: letsencrypt
    middlewares:
      - secure-headers

  nexudo-web:
    rule: "Host(`${WEB_DOMAIN}`)"
    entrypoints:
      - websecure
    service: nexudo-web
    tls:
      certResolver: letsencrypt
    middlewares:
      - secure-headers

services:
  nexudo-api:
    loadBalancer:
      servers:
        - url: http://backend:8000

  nexudo-web:
    loadBalancer:
      servers:
        - url: http://frontend:3000

tls:
  options:
    default:
      minVersion: VersionTLS12
