http:
  middlewares:
    secure-headers:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

# routers rendered from environment variables
routers:
  nexudo-api:
    rule: "Host(`${API_DOMAIN}`)"
    entrypoints:
      - websecure
    service: nexudo-api
    tls:
      certResolver: letsencrypt
    middlewares:
      - secure-headers

  nexudo-web:
    rule: "Host(`${WEB_DOMAIN}`)"
    entrypoints:
      - websecure
    service: nexudo-web
    tls:
      certResolver: letsencrypt
    middlewares:
      - secure-headers

services:
  nexudo-api:
    loadBalancer:
      servers:
        - url: http://backend:8000

  nexudo-web:
    loadBalancer:
      servers:
        - url: http://frontend:3000

tls:
  options:
    default:
      minVersion: VersionTLS12
